<html>
<body>
    <h1>Hi <b>{{fullName}}</b>, we received a request to reset your password</h1>
    <p>
      You can reset your password by clicking on the following link
    </p>
    <a href="{{link}}">click here</a>
</body>
</html>
