<html>
<body>
    <h1>Welcome to EasyBook, {{fullName}}</h1>
    <p>
      Your account is almost ready, we just need to verify it,
      you can do so by clicking on the following link
    </p>
    <a href="{{link}}">click here</a>
</body>
</html>
